@model Models.Entidades.Funcionario

@{
    ViewBag.Subtitulo = "Funcionario";
}


<h2 class="text-secondary">Eliminando @ViewBag.Subtitulo</h2>
<h4>Voçe realmente deseja eliminar <span class="text-danger">"@Model.Nome" </span>do sistema?</h4>
<div>
    <hr />
    <form asp-action="Delete" class="w-25">
        <input type="hidden" asp-for="@Model.Id" />
        <div class="mt-3">
            <input type="submit" value="Sim" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-outline-secondary">Não</a>
        </div>
    </form>
</div>
